%h3= @oven.name

.cookie-info
  .cookie-update
    Cookie in oven:
    - if @oven.cookie
      1 cookie with #{@oven.cookie.fillings.present? ? @oven.cookie.fillings : "no fillings"}
      - if @oven.cookie.cooked
        (Your Cookie is Ready) 
    - else
      None
  - if @oven.cookie
    = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny', style: 'visibility: visible'

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
